html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.game-panel h1 {
    margin-bottom: 10px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    font-size: 18px;
    width: 375px;
    padding-left: 15px;
}

.score-panel .stars {
    margin: 0;
    padding: 11px 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    padding: 11px 16px;
}

/*
 * Styles for the Bottom Panel
 */

.bottom-panel {
    width: 380px;
    font-size: 18px;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 25px;
}

.timer {
    padding: 11px 0 35px;
}

.timer .time-string {
    padding-left: 5px;
}

.message-area {
    color: red;
    font-weight: bold;
    padding-top: 11px;
}

.message-area .message {
    padding-left: 5px;
}

.bottom-panel .storage-buttons .save,
.load {
    display: inline-block;
    padding: 11px 16px;
    cursor: pointer;
    display: none;
}

/*
 * Styles for the win-panel
 */

.win-panel {
    display: none;
}

.success-icon {
    margin: 65px 0 0;
}

.success-icon .fa {
    font-size: 38px;
    color: #b4de9d;
    border: 2px solid #eee;
    border-radius:35px;
    padding: 13px;
}

.win-panel h1 {
    font-weight: 700;
    margin: 28px 0 10px;
}

.score-message p {
    margin: 0;
    font-size: 18px;
}

.win-message {
    text-align: center;
}

.win-panel .play-again {
    width:130px;
    height:32px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #01b9a7;
    border: 1px solid #6dcfc6;
    border-radius: 5px;
    padding: 0;
    margin: 12px 0;
    cursor: pointer;
}

/*
 * Styles for the leaderboard
 */

.leaderboard {
    width: 660px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard h3 {
    text-decoration: underline;
}

.leaderboard th {
    background-color: #36a9b6;
    color: white;
}

.leaderboard tbody {
    font-family: "Lucida Console", monospace;
    font-size: 14px;
}

.leaderboard tr {
    height: 28px;
}

.leaderboard th, td {
    min-width: 140px;
    text-align: center;
}

.leaderboard tr:nth-child(1) {
  background-color: #51a4bf;
}

.leaderboard tr:nth-child(2) {
  background-color: #5898b8;
}

.leaderboard tr:nth-child(3) {
  background-color: #6798c1;
}

.leaderboard tr:nth-child(4) {
  background-color: #708dbb;
}

.leaderboard tr:nth-child(5) {
  background-color: #7e8cc4;
}
